
h1 .dropdown.pull-right {
  margin-right: 10px;
}
.fixed {
  position: fixed;
  right: calc(10% + 10px);
  z-index: 999;
  box-shadow: 0px 0px 10px 1px #bdbdbd;
}
.send {
  width: 100%;
  margin: 15px 0;
}
.vols {
  bottom: 100%;
  max-height: 50vh;
  overflow: auto;
  top: unset;
}
.vols-list {
  display: flex;
  justify-content: space-around;
}
.container-fluid form {
  padding-right: 10%;
}
.nav-tabs {
  margin-bottom: 20px;
}
#table {
  width: 100%!important;
  overflow: auto;
  max-height: 65vh;
}
#table, #table tbody, #table thead, #table tfoot {
  display: block;
}
#table tr {
  display: flex;
  width: auto;
  min-width: 100%;
}
#table td, #table th {
  display: block;
  width: 200px !important;
  box-sizing: border-box !important;
  flex-shrink: 0;
  flex-grow: 1;
  word-wrap: break-word;
}
#table tr td:first-child,
#table tr td:last-child,
#table tr th:first-child,
#table tr th:last-child {
  width: 85px!important;
  flex-grow: 0;
}
/* #table th select {
  width: 100%;
} */

#table th select,
#table th input,
#table th > span.select2 {
  width: 100%!important;
  height: 20px;
}
.column-toggler {
  position: absolute;
  bottom: 0;
}
ul.dropdown-menu.columns {
  bottom: 100%;
  left: 0;
  height: 50vh;
  overflow: auto;
}
a.column-toggle {
  cursor: pointer;
}
a.column-toggle.active {
  background: #eee;
}
 #table /* tr[data-type="1"] */ tr.shorttype {
  background: lightgreen;
}
